/*
	This theme was designed and built by Bryan Helmig
	for Mid Mo Design at http://midmodesign.com/.
*/
body {
font-family: Helvetica, Verdana, Arial, serif;
font-size: 13px;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: 1.7em;
border-top: solid 3px #ff2b06;
color: #333;
}
a {
}
a:hover {
color : #e12000;
background-color : #f7f7f7;
}
hr{
margin-top:35px;
border:0;
border-top: 1px dotted #ccc;
color:#fff;
background-color:#fff;
}
.center {
text-align:center;
}
.left {
text-align:left;
}
.right {
text-align:right;
}
#wrapper {
margin : 0 auto;
width : 900px;
}
#header {
width : 160px;
margin: 30px 0;
}
#header a {
color : #ff2b06;
font-size : 48px;
font-weight : 400;
text-decoration : none;
border-bottom : none;
letter-spacing : -2px;
text-align : right;
background-image:url('/image/logo_30x43.png');
background-repeat:no-repeat;
background-position:left;
padding-left: 40px;
}
#content {
float : left;
padding: 0 40px 30px 0;
width: 560px;
}
#content p {
margin : 14px 0 14px 0;
}
#content em{
font-style: italic;
}
#content h2 {
font-size : 24px;
margin : 25px 0 10px 0;
font-weight:normal;
}
#content h1, #content h1 a{
font-size : 28px;
font-weight:normal;
line-height:32px;
color: #666;
}
#content h3, #content h4 {
font-size : 20px;
margin : 15px 0 10px 0;
font-weight:normal;
color: #666;
}
#content h4 {
font-size : 18px;
}
#content .indent {
padding-left: 10px;
}
#content .indent p {
padding-left: 10px;
}
#content small {
font-size : 11px;
}
#content small a {
font-weight:normal;
}
#content .alignright {
float:right;
}
#content .alignleft {
float:left;
}
#content .aligncenter {
margin:0 auto;
display:block;
}
#content abbr {
font-weight:normal;
}
#content ul{
list-style:circle;
margin:0 0 0 25px;
}
#content ol{
list-style:decimal;
margin:0 0 0 30px;
}
#content .wp-caption {
background:#f7f7f7;
border:1px solid #ccc;
margin:10px;
text-align:center;
padding:5px 0 0;
}
#content .wp-caption-text {
margin:0;
}
#content .wp-caption a, #content .wp-caption a:hover {
border-bottom:0;
}
#content blockquote {
color:#777;
border-left:5px solid #ccc;
margin:15px 30px 0 10px;
padding-left:20px;
}
#content pre {
font-family:courier;
font-size:8px;
letter-spacing:-1px;
}
#sidebar {
width : 300px;
float : right;
margin : 0 0 25px 0;
}
#sidebar h3 {
font-size : 18px;
}
#footer {
width : 900px;
float : left;
border-top : 1px dotted #cccccc;
text-align : center;
padding : 20px 0 40px 0;
}
#footer a,
#footer p {
color: #999;
}
#menu {
position: absolute;
top: 0px;
margin-left: 380px ! important;
padding : 9px 0 0;
margin-top: 15px ! important;
}
#menu li {
text-align : center;
float : left;
display : inline;
width : 130px;
}
#menu li a {
font-size : 20px;
font-weight : 400;
color: #333;
display : block;
padding : 15px 0 15px 0;
border-bottom: none;
text-decoration: none;
}
